
.gradle/6.1.1/fileHashes/fileHashes.bin
.gradle/6.1.1/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/checksums/checksums.lock
.gradle/checksums/md5-checksums.bin
.idea/gradle.xml
local.properties
local.properties
.gradle/6.1.1/fileContent/fileContent.lock
local.properties
